# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Datos pesados o sensibles
data/raw/
data/processed/
outputs/

# Secretos
config.py
.env
